.main {
  min-height: 90vh;
}
  

.capitulos {
  color: #000;
  display: flex;
  margin-bottom: 3%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  column-gap: 3%;
}

  .descriptionConteiner {
    display: flex;
    flex-direction:row;
    column-gap: 5%;
    min-height: 50vh;
}

  .descriptionConteinerImg {
    display: flex;
    flex-direction:column;
    padding: 2%;
    justify-content:center;
    width: 40%;
    row-gap: 2rem;
  }

  .descriptionConteinerImg iframe {
    height: 70%;
    border: none;
  }

.descriptionConteinerImg button {
    padding: 1%;
    color: #000;
    font-size: 100%;
}

  .descriptionConteinerText {
    display: flex;
    justify-content:center;
    flex-direction:column;
    width: 60%;
    row-gap: 2rem; 
    margin-right: 3%;
}

.info {
  display: grid;
  grid-template-columns: 200px 1fr; /* ancho fijo para la etiqueta */
  align-items: start;
}

.info2 {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}

.info2 select {
  color: black;
  width: 30%;
  height: 60%;
}

.info2 select,
.info2 select option {
  color: black;
  border-style: none;
}

.label {
  font-weight: bold;
}

.value {
  text-align: left;
}

.main h1 {
  margin-left: 2%;
}


.carrusel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carrusel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  width: 100%;
}

.carrusel::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera - oculta la barra horizontal visualmente */
}

.carrusel a {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: auto;
}

.carrusel-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 2;
  color: white;
  transition: 0.2s;
}

.imagenes {
  flex: 0 0 25%;
  max-width: 25%;
  height: auto;
}

@media ((width <= 1024px) and (width >= 768px)) {
  .flex__container {
    display: flex;
    flex-direction: column;
  }

  .info2 {
    display: flex;
    flex-direction: column;
    column-gap: 5%;
  }
  
  .info2 select {
    color: black;
    width: 100%;
    margin-top: 4%;
  }

  .main h1 {
    margin-left: 1%;
  }

  .descriptionConteiner {
    column-gap: 3%; 
  }

  .descriptionConteinerImg {
    width: 100%;
    padding: 1%;
}

  .descriptionConteinerText {
      width: 100%;
      padding: 3%;
      margin-top: 3%
  }

  .imagenes {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
}

@media (width <= 768px) {

  .descriptionConteinerImg {
    width: 100%;
  }

  .main h1 {
    margin-left: 3%;
  }

  .info2 {
    display: flex;
    flex-direction: column;
    column-gap: 5%;
  }
  
  .info2 select {
    color: black;
    width: auto;
    margin: 4%;
    padding: 1%;
  }

  .descriptionConteiner {
    display: flex;
    flex-direction:column;
    column-gap: 10%;
  }

  .descriptionConteinerText {
    width: 100%;
    padding: 3%;
  }

    .imagenes {
    flex: 0 0 50%; /* 2 imágenes visibles */
    max-width: 50%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
}