.main {
  min-height: 90vh;
}
  

.category {
  color: #000;
  display: flex;
  margin-bottom: 3%;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  column-gap: 3%;
}

  .descriptionConteiner {
    display: flex;
    flex-direction:row;
    column-gap: 5%;
    min-height: 50vh;
}

  .descriptionConteinerImg {
    display: flex;
    flex-direction:column;
    padding: 2%;
    justify-content:center;
    width: 40%;
    row-gap: 2rem;
  }

  .descriptionConteinerImg iframe {
    height: 70%;
    border: none;
  }

.descriptionConteinerImg button {
    padding: 1%;
    color: #000;
    font-size: 100%;
}

  .descriptionConteinerText {
    display: flex;
    justify-content:center;
    flex-direction:column;
    width: 60%;
    row-gap: 2rem; 
    margin-right: 3%;
}

.info {
  display: grid;
  grid-template-columns: 120px 1fr; /* ancho fijo para la etiqueta */
  align-items: start;
}

.info2 {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}

.info2 select {
  color: black;
  width: 60%;
  height: 60%;
}

.info2 select,
.info2 select option {
  color: black;
  border-style: none;
}


/* .info2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "a b c d";
  background-color: blue;
} */


.label {
  font-weight: bold;
}

.value {
  text-align: left;
}

.main h1 {
  margin-left: 2%;
}


.grid__container {
  display: grid;
  width: 100%;
  gap: 2rem;
  padding: 2%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "a b c d";
}

.grid__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media ((width <= 1024px) and (width >= 768px)) {
  .flex__container {
    display: flex;
    flex-direction: column;
  }

  .main h1 {
    margin-left: 1%;
  }

  .descriptionConteiner {
    column-gap: 3%; 
  }

  .descriptionConteinerImg {
    width: 100%;
    padding: 1%;
}

  .descriptionConteinerText {
      width: 100%;
      padding: 3%;
      margin-top: 3%
  }

  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d";
  }

}

@media (width <= 768px) {

  .descriptionConteinerImg {
    width: 100%;
  }

  .main h1 {
    margin-left: 3%;
  }

  .descriptionConteiner {
    display: flex;
    flex-direction:column;
    column-gap: 10%;
  }

  .descriptionConteinerText {
    width: 100%;
    padding: 3%;
  }

  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d";
  }
}